<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="login">
        <h1>Iniciar sesion</h1>
        <form action="/login"  method="POST">
            <div class="seccion">
                <label for="username">Nombre de usuario:</label>
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
            <div class="seccion">
                <label for="password">Contraseña valida:</label>
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
        <p>¿No tienes una cuenta? <a href="/register">Regístrate aquí</a></p>
    </div>
</body>
</html>
